*.csproj
*.sln
.vs
.vsconfig
VisualEffect/CloudShadow/Library
VisualEffect/CloudShadow/Logs
VisualEffect/CloudShadow/Packages
VisualEffect/CloudShadow/obj
VisualEffect/CloudShadow/Temp
VisualEffect/CloudShadow/UserSettings
VisualEffect/Painting/Library
VisualEffect/Painting/Logs
VisualEffect/Painting/Packages
VisualEffect/Painting/obj
VisualEffect/Painting/Temp
VisualEffect/FogOfWar/Library
VisualEffect/FogOfWar/Logs
VisualEffect/FogOfWar/Packages
VisualEffect/FogOfWar/obj
VisualEffect/FogOfWar/Temp
Demo/Example1/Library
Demo/Example1/Logs
Demo/Example1/Packages
Demo/Example1/Temp
Demo/Example1/UserSettings
Demo/Example1/obj